@use "./variables.scss" as *;

.top-navbar {
  display: flex;
  justify-content: space-between;
  height: auto;
  position: fixed;
  top: 0;
  background: #f2f4f7;
  width: 100%;
  z-index: 1000;
  min-width: 1000px;
  border-bottom: $border;
}

.bread-navbar {
  padding: 5px 15px;
}

// 顶部导航栏按钮
.route-link {
  border: 1px solid transparent;
}

.route-link:hover {
  // border: 1px solid $primary-color;
  color: $primary-color !important;
}

a:hover {
  color: $primary-color !important;
}

.logout:hover {
  cursor: pointer;
  color: $red !important;
}

.active {
  background: $light-primary-color;
  color: $primary-color !important;
}

.win-btn {
  background: transparent;
  border: 0;
  font-size: 12px;
}

.win-btn:hover {
  background: white;
  color: $primary-color;
}

.win-btn.close:hover {
  color: white;
  background: #f30213ba;
}

.window-controls {
  min-width: 240px;
}
